@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
}

.dial-bg {
  background-image: radial-gradient(circle, #404040 0%, #262626 100%);
}

/* Custom scrollbar to keep it clean */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}