@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #fbbf24;
  --color-background-dark: #121212;
  --color-surface-dark: #1e1e1e;
  --color-surface-light: #2a2a2a;
  --color-pad-empty-bg: #1e1e1e;

  --font-sans: Inter, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --shadow-pad-raised:
    inset 0 1px 1px rgba(255, 255, 255, 0.15), 0 2px 3px rgba(0, 0, 0, 0.4),
    0 5px 10px rgba(0, 0, 0, 0.6);
  --shadow-pad-pressed:
    inset 0 4px 8px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  --shadow-pad-empty: inset 0 2px 6px rgba(0, 0, 0, 0.6);
  --shadow-ui-element-raised:
    inset 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.5);
  --shadow-ui-element-pressed: inset 0 2px 4px rgba(0, 0, 0, 0.5);
  --shadow-ui-element-inset: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body {
  background-color: #121212;
}

.dial-bg {
  background-image: radial-gradient(circle, #404040 0%, #262626 100%);
}

/* Custom scrollbar to keep it clean */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}